<html>
    <head>
        <title>Blog da Arcanjo </title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Django da Arcanjo </a></h1>
        </div>

        <div>
            <p> publicado: 01.12.2021, 15:52</p>
            <h2><a href=""> Meu primeiro post</a></h2>
            <p> Testando como isso vai aparecer no meu post_list.</p>
        </div>

        <div>
            <p> publicado: 01.12.2021. 15:54</p>
            <h2><a href=""> Meu segundo post</a></h2>
            <p> escrevendo direto no html do Django</p>
        </div>
    </body>
</html>